#products{
    width: 100%;
    background-color: rgb(21, 247, 190);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.product{
    width:200px;
    height: 350px;
    background-color:rgb(70, 155, 158)
}
.productImage{
width: 100px;
height: auto;
}
.title{
    color: green;
    font-size: 30px;
}
#price{
    color: rgb(53, 92, 136);
}